{% extends 'base.html' %} {% block title %}
<title>Register Faceblog</title>
{% endblock title %} {% block content %}
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>WELCOME TO FACEBLOG</h2>
    <h3 style="color:red">Register page</h3>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form method="POST">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <!-- <strong>Title</strong> -->
              {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        <div class="form-group">
          <label>Email</label>
          <input
            name="email"
            type="text"
            class="form-control"
            placeholder="User Name"
          />
        </div>
        <div class="form-group">
                <label>Name</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  placeholder="User Name"
                />
              </div>
              <div class="form-group">
                  <label>URL Avatar</label>
                  <input
                    name="url_avatar"
                    type="text"
                    class="form-control"
                    placeholder="User Name"
                  />
                </div>
        <div class="form-group">
          <label>Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-black">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
