{% extends 'base.html' %}

{% block content %}
<div class='container'>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <strong>Title</strong> -->
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
  <h2>{{post.author.name}}</h2>
  <small>{{post.created_at}}</small>
  <pre>{{post.body}}</pre>

  {% if action == "view" %}
    <div class='create-post-div'>
        <form method='POST' class='create-post-form' action="{{url_for('create_comment', id_post=post.id)}}">
          <textarea class='create-post-input' name='bodyComment' rows="5" autofocus
            value="what's on your mind, {{ current_user.name}}?">
          </textarea>
          <div style="width:100%; display:flex; justify-content:flex-end">
            <button class='btn btn-primary' type='submit'>Comment</button>
          </div>
        </form>
    </div>
    <div class='posts-container'>
      {% for comment in comments %}
          {% if comment.post_id == post.id %}
            <pre>{{comment.body | safe}}</pre>
          {% else %}
          {% endif %}
      {% endfor %}
    </div>
  {% else %}
  <div class='create-post-div'>
    <form method='POST' class='create-post-form' action="{{url_for('single_post', id=post.id, action="update")}}">
      <textarea class='create-post-input' name='update-text' rows="5" autofocus
        value="what's on your mind, {{ current_user.name}}?">
      </textarea>
      <div style="width:100%; display:flex; justify-content:flex-end">
        <button class='btn btn-primary' type='submit'>Post</button>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}